body{
    font-family: 'Roboto', sans-serif;
}

/* custom proprerties */
:root{
    --colore-primario: #1C72E9; 
    --colore-secondario: #051E34;
    --colore-classi: #F16451; 
    --colore-topbar: #FFFFFF;
    --colore-sfondo-titoli: #F7F7F7;
    --colore-searchbar: #E5E5E5;
    --colore-icone-topbar: #5A5858;
    --colore-sfondo-navbar: #F8F9FA;
}

.debug{
    border: 1px solid black;
}

/* Navbar */
.navbar{
    height: 70px;
    background-color: var(--colore-sfondo-navbar);
}

/* Logo */
.logo-navbar{
    width: 70px;
    height: 100%;
}

.logo-mobile{
    height: 50px;
    width: 50px;
}

.logo-desktop{
    display: none;
}

.logo-navbar img{
    width: 100%;
    object-fit: cover;
}

/* Icons navbar */
.icons-navbar{
    width: 50px;
}

.icon-navbar-dx .fa-solid{
    color: var(--colore-classi);
}

.icon-navbar-sx{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.icon-navbar-dx{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

/* Searchbar */
.searchbar{
    flex-grow: 1;
}

.searchbar input:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--colore-searchbar);
}

.searchbar input{
    border: none;
    background-color: var(--colore-searchbar);
} 

/* Top-mainpage*/
.top-mainpage{
    background-color: var(--colore-primario);   
}

.nuovo-studente{
    height: 85px;
}

.nuovo-studente-text{
    margin-right: 15px;
    /* height: 60px; */
}

.nuovo-studente-icon{
    /* height: 60px; */
}

.nuovo-studente-icon .fa-solid{
    font-size: 1rem;
}

.studenti-online{
    height: 85px;
}

.studenti-online-number{
    font-size: 2rem;
}

.piani-boolean{
    height: 85px;
}

/* Mainpage */
.mainpage{
    height: calc(100vh - 70px);
}

.mainpage-sx{
    height: 100%;
    width: 65px;
    background-color: var(--colore-secondario);
}

.home-text,
    .stats-text,
    .signals-text,
    .setting-text{
        display: none;
    }

.mainpage-sx i{
    padding-right: 5px;
}

.mainpage-dx{
    height: 100%;
    width: calc(100% - 65px);
    overflow: scroll;
}

/* statistics */
.statistics-img{
    width: 100%;
}

.statistics-img img{
    width: 100%;
    object-fit: cover;
}



/* Barra laterale sinistra */


/* Soluzione responsive */

/* versione tablet */
@media screen and (min-width: 768px){
  
}


/* versione desktop */
@media screen and (min-width: 992px){
    .logo-navbar{
        width: 150px;
    }

    .icons-navbar{
        width: 150px;
    }

    .logo-mobile{
        display: none;
    }

    .logo-desktop{
        display: block;
    }

    .icon-navbar-dx{
        width: 25%;  
    }

    .icon-navbar-sx{
        width: 75%; 
        display: block; 
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



    .mainpage-sx{
        width: 135px;
    }

    .home-text,
    .stats-text,
    .signals-text,
    .setting-text{
        display: block;
    }

    .mainpage-dx{
        width: calc(100% - 135px);
    }

}
