body{
    font-family: 'Roboto', sans-serif;
}

/* custom proprerties */
:root{
    --colore-primario: #1C72E9; 
    --colore-secondario: #051E34;
    --colore-classi: #F16451; 
    --colore-topbar: #FFFFFF;
    --colore-sfondo-titoli: #F7F7F7;
    --colore-searchbar: #E5E5E5;
}

.debug{
    border: 1px solid black;
}

/* Navbar */
.navbar{
   height: 140px; 
   background-color: var(--colore-topbar);
   background-color: var(--colore-topbar);
}

/* Top-main */

/* Main */
.mainpage{
    height: calc(100vh - 140px);
}

.mainpage-sx{
    height: 100%;
    width: 65px;
    background-color: var(--colore-secondario);
}

.mainpage-sx i{
    padding-right: 5px;
}

.mainpage-dx{
    height: 100%;
    width: calc(100% - 65px);
}

.top-mainpage{
    background-color: var(--colore-primario);
}

/* Barra laterale sinistra */


/* Soluzione responsive */

/* versione tablet */


/* versione desktop */
@media screen and (min-width: 992px){
    .mainpage-sx{
        width: 135px;
    }

    .home-text{
        /* display: block; */
    }

    .mainpage-dx{
        width: calc(100% - 135px);
    }

}
